$color-primary: #5c350f;
$color-secondary: #ffd6b2;
$color-pale: #ffb2b7;
$color-mid: #ffb2b7;
$color-dark: #b66e73;
$color-black-transparent: rgba(211, 178, 178, 0.5);
$color-teal: #17a2b8;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
	font-family: $body-font;
}

h1,
h2,
h3 {
	font-family: $header-font;
}

h2 {
	color: $color-primary;
}

header {
	h2 {
		color: $color-pale;
	}
}

.brownieLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	align-items: center;
}

.navbar {
	background-color: $color-mid;
}

.site-footer {
	background-image: linear-gradient($color-pale, white);
	padding: 20px 0;
}

.row-content {
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}

.navbar-dark {
	background-color: $color-dark;
}

a,
a:hover {
	color: white;
	text-decoration: none;
}

.carousel {
	border: solid $color-secondary;
}

.carousel-caption {
	background-color: $color-black-transparent;
}

#carouselButton {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
}

#reserveModal {
	.modal-header {
		background-color: $color-teal;
		color: white;
	}
}

#loginModal {
	.modal-header {
		background-color: $color-mid;
		color: white;
	}
}
